.about {
  padding-top: 139px;
  padding-bottom: 121px;

  & .container {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__item + .about__item {
    margin-left: 30px;
  }

  &__content {
    margin-left: 64px;
  }

  &__top-text {
    margin-bottom: var(--typical-margin);
  }

  &__title {
    margin-bottom: var(--typical-margin);
  }

  &__bottom-text {
    margin-bottom: var(--typical-margin);
  }

  &__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
  }

  &__btn {
    color: #303030;
    box-sizing: border-box;
  }
}
