.benefits {
    padding-top: 40px;
    padding-bottom: 40px;
    @include tablet {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    @include desktop {
        padding-top: 143px;
        padding-bottom: 108px;
    }

    & .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        @include tablet {
        }
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__list {
        width: 370px;
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            margin-left: auto;
        }
        @include desktop {
            margin-left: 0;
        }
    }

    &__item {
        width: 170px;
        height: 133px;
        background-color: #f7f7f7;
        padding: 20px 24px;
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:nth-child(even) {
            margin-top: 30px;
        }
    }

    &__item-count {
        font-weight: 700;
        font-size: 42px;
        line-height: calc(57 / 42);
        text-align: center;
        letter-spacing: 0.05em;
        color: var(--second-title-clolr);
        display: block;
        &::after {
            content: "+";
            font-weight: 600;
            font-size: 16px;
            line-height: 1.37;
            text-align: center;
            color: #ff6c00;
            vertical-align: top;
            margin-left: 2px;
        }
    }

    &__item-text {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-align: center;
        color: var(--second-title-clolr);
    }

    &__content {
        @include tablet {
            margin-right: auto;
        }
        @include desktop {
            margin-left: 130px;
            margin-right: 0;
        }
    }

    &__top-text {
        margin-bottom: var(--typical-margin);
    }

    &__title {
        max-width: 412px;
        margin-bottom: var(--typical-margin);
    }

    &__bottom-text {
        max-width: 500px;
        color: #555555;
    }
}
