.benefits {
    padding-top: 143px;
    padding-bottom: 108px;
}

.benefits .container {
    display: flex;
}

.benefits__list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
}

.benefits__item {
    width: 170px;
    height: 133px;
    background-color: #F7F7F7;
    padding: 20px 24px;
    &:nth-child(odd) {
        margin-right: 30px;
    }
    &:nth-child(even) {
        margin-top: 30px;
    }
}

.benefits__item-count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--second-title-clolr);
    display: block;
    &::after {
        content: '+';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.37;
        text-align: center;
        color: #FF6C00;
        vertical-align: top;
        margin-left: 2px;
    }    
}
.benefits__item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--second-title-clolr);
    
}

.benefits__content {
    margin-left: 130px;
}
.benefits__top-text {
    margin-bottom: var(--typical-margin);
}
.benefits__title {
    max-width: 412px;
    margin-bottom: var(--typical-margin);
}

.benefits__bottom-text {
    max-width: 500px;
    color: #555555;
    
}