
.contacts {
    background-color: #303030;
}
.contacts-address {
    font-style: normal;
}
.contacts-title {
    color: var(--main-title-color);
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;  
}
.contacts-subtitle {
    color: #FFFFFF;
}

.contacts-address-item {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}