.gallery {
    padding-top: 84px;
    padding-bottom: 84px;
    @include tablet {
        padding-top: 100px;
        padding-bottom: 106px;
    }

    @include desktop {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &__top-text {
        color: var(--second-title-clolr);
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 100%;
        @media screen and (min-width: 768px) {
            max-width: calc((100% - 30px) / 2);
        }

        @media screen and (min-width: 1200px) {
            max-width: calc((100% - 90px) / 4);
        }
    }
}
