
.heder {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.heder .container {
  display: flex;
  align-items: center;
}

.heder__logo {
  margin-right: 70px;
}
.heder__list {
  display: flex;
}

.heder__item:not(:last-child) {
  margin-right: 25px;
}

.heder__link {
font-family: "Open Sans";
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
color: #ffffff;
transition: color 300ms ease;
&:hover, 
&:focus {
  color: var(--accent-color);
}
}

.heder__connect {
  margin-left: auto;
}
.heder__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color 300ms ease;
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}

.heder__btn {  
  color: #FFFFFF;
  background: rgba(25, 28, 38, 0.2);
  margin-left: 40px;
  &:hover, 
  &:focus {
  color: var(--accent-color);
}
}
