.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-title-clolr);
}
.bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--bottom-text-color);
}

.btn {
    min-width: 160px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 25px;
    transition: color 300ms ease;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
